In [5]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite\db\pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

OperationalError: no such table: FACILITIES

In [2]:
"""Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!"""

SELECT name, revenue 
FROM (SELECT name, 
          SUM(CASE WHEN memid=0 THEN f.guestcost*b.slots
                ELSE f.membercost*b.slots
                END) AS revenue
      FROM Facilities AS f
      INNER JOIN Bookings AS b
      USING (facid)
      GROUP BY name 
    )AS totalrevenue
WHERE revenue<1000
ORDER BY revenue;

SyntaxError: invalid syntax (<ipython-input-2-57d8d5237719>, line 5)

In [ ]:
#Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
SELECT DISTINCT CONCAT_WS(',', surname, firstname) AS member, recommendedby
FROM Members
WHERE recommendedby IS NOT NULL
ORDER BY member;

In [ ]:
#Q12: Find the facilities with their usage by member, but not guests
SELECT name, CONCAT_WS(',', surname, firstname) AS member, SUM(slots) as "Total Slots"
FROM Facilities
    INNER JOIN Bookings AS b
    USING (facid)
    INNER JOIN Members AS m
    USING (memid)
WHERE
    starttime >= '2012-01-01'
    AND starttime < '2013-01-01'
    AND memid != 0
GROUP BY name, member
ORDER BY name, member;

In [ ]:
#Q13: Find the facilities usage by month, but not guests
SELECT name, EXTRACT(MONTH FROM starttime) as month, SUM(slots) as "Total Slots"
FROM Facilities
    INNER JOIN Bookings AS b
    USING (facid)
WHERE
    starttime >= '2012-01-01'
    AND starttime < '2013-01-01'
    AND memid != 0
GROUP BY name, month
ORDER BY name, month;